*{
    font-family: arial,sans-serif;
    font-size: 14px;
}
.logo
{
    position: absolute;
    top: 22px;
    left: 20px;
}
.top_button
{
    position: absolute;
    height: 25px;
    width: 127px;
    top: 14px;
    left: 1225px;
    background-color: #4d90fe;
    color: #fff;
    box-shadow: none;
    border: 1px solid #3079ed;
    font-size: 15px;
    border-radius: 3px;
}
.heading
{
    position: absolute;
    top: 89px;;
    left: 45px;
    font-style: inherit;
    font-weight: inherit;
    font-size: 20px;
    color: #d93025;
}
.bottom
{
    position: absolute;
    left: 45px;
    top: 178px;
}
.sub_heading
{
    font-size: 16px;
    font-weight:500px;
    color: #333;
    margin-bottom: 10px;
}
.line
{
    position: absolute;
    left: 0px;
    top: 137px;
    width: 2000px;
    border-bottom: 1px solid #ebebeb;
}
.form
{
    color: #222;
    font-size: 13px;
    line-height: 16px;
    margin: 2px;
}
.text
{
    height: 25px;
    width: 554px;
    padding: 1px 8px;
    cursor: text;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}
.text:focus {
    outline: none !important;
    border:1px solid #3079ed;
}
#i1
{
    position: relative;
    left: 104px;
}
#i2
{
    position: relative;
    left: 34px;
}
#i3
{
    position: relative;
    left: 72px;
}
#i4
{
    position: relative;
    left: 63px;
}
.text:focus
{
    outline:none;
}
.re
{
    position: relative;
    left: 640px;
    font-size: 13px;
    font-weight: bold;
    color: #777;
    display: inline-block;
}
.info
{
    display: inline-block;
    font-size: 11px;
    color: #555;
}
#in1
{
    position: relative;
    left: 120px;
}
#in2
{
    position: relative;
    left: 51px;
}
#in3
{
    position: relative;
    left: 89px;
}
#in4
{
    position: relative;
    left: 81px;
}
.submit_button
{
    position: relative;
    left: 646px;
    top: 17px;
    height: 27px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 3px;
    font-weight: 510;
}