*{
    font-family: arial,sans-serif;
    font-size: 14px;
}
.main_content
{
    height: 100%;
    position: absolute;
    left: 440px;
    top: 110px;
}
#main_logo
{
    position: relative;
    left: 130px;
    padding: 20px;
}
.search_box
{
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
#search_logo
{
    position: relative;
    top: 9px;
    left: 12px;
    height: 20px;
    width: 20px;
}
#search_bar
{
    position: relative;
    top: 4px;
    left: 20px;
    height: 34px;
    width: 487px;
    border: 0px;
}
#search_bar:focus
{
    outline: none;
}
#voice_search
{
    width: 15px;
    height: 20px;
    position: relative;
    left: 29px;
    top: 9px;
}
.buttons
{
    color: #3c4043;
    background-color: #f8f9fa;
    position: relative;
    left: 210px;
    top: 25px;
    width: 127px;
    height: 36px;
    margin: 3px;
    border: 1px solid #f8f9fa;
    cursor: pointer;
}
.links
{
    width: 200px;
    position: absolute;
    left: 1200px;
}
.top_buttons
{
    height: 25px;
    background-color: #4d90fe;
    color: #fff;
    box-shadow: none;
    border: 1px solid #3079ed;
    border-radius: 3px;
}
.subscript
{
    position: relative;
    left: 214px;
    bottom: 19px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
}